.ios, .md {
 
    div {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 90%;
      }

      #inputs {
        //background-color: black;
      }
 
    }
 
}

ion-title {
  text-align: center;
}
